Repository SOPT-all/35-COLLABORATION-ANDROID-LINKAREER, pull requests merged in 2024-11, with the labels that each got.

#2 [INIT/#1] 프로젝트 초기 세팅
  .editorconfig
  .github/ISSUE_TEMPLATE/issue_template.md
  .github/pull_request_template.md
  .github/workflows/pr_checker.yml
  .gitignore
  app/.gitignore
  app/build.gradle.kts
  app/proguard-rules.pro
  app/src/androidTest/java/org/sopt/linkareer/ExampleInstrumentedTest.kt
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/sopt/linkareer/Linkareer.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/Color.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/Theme.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/Type.kt
  app/src/main/java/org/sopt/linkareer/core/extension/ContextExt.kt
  app/src/main/java/org/sopt/linkareer/core/state/UiState.kt
  app/src/main/java/org/sopt/linkareer/data/datasource/DummyRemoteDataSource.kt
  app/src/main/java/org/sopt/linkareer/data/datasourceimpl/DummyRemoteDataSourceImpl.kt
  app/src/main/java/org/sopt/linkareer/data/di/DataSourceModule.kt
  app/src/main/java/org/sopt/linkareer/data/di/RepositoryModule.kt
  app/src/main/java/org/sopt/linkareer/data/di/RetrofitModule.kt
  app/src/main/java/org/sopt/linkareer/data/di/ServiceModule.kt
  app/src/main/java/org/sopt/linkareer/data/model/request/DummyRequest.kt
  app/src/main/java/org/sopt/linkareer/data/model/response/GetDummyUserListResponse.kt
  app/src/main/java/org/sopt/linkareer/data/repositoryimpl/DummyRepositoryImpl.kt
  app/src/main/java/org/sopt/linkareer/data/service/DummyService.kt
  app/src/main/java/org/sopt/linkareer/domain/model/DummyEntity.kt
  app/src/main/java/org/sopt/linkareer/domain/repository/DummyRepository.kt
  app/src/main/java/org/sopt/linkareer/feature/MainActivity.kt
  app/src/main/java/org/sopt/linkareer/feature/dummy/DummyScreen.kt
  app/src/main/java/org/sopt/linkareer/feature/dummy/DummyState.kt
  app/src/main/java/org/sopt/linkareer/feature/dummy/DummyViewModel.kt
  app/src/main/res/drawable/ic_launcher_background.xml
  app/src/main/res/drawable/ic_launcher_foreground.xml
  app/src/main/res/mipmap-anydpi/ic_launcher.xml
  app/src/main/res/mipmap-anydpi/ic_launcher_round.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.webp
  app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-mdpi/ic_launcher.webp
  app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/themes.xml
  app/src/main/res/xml/backup_rules.xml
  app/src/main/res/xml/data_extraction_rules.xml
  app/src/test/java/org/sopt/linkareer/ExampleUnitTest.kt
  build.gradle.kts
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  settings.gradle.kts
Labels: INIT, 🩷효빈🩷

#8 [ADD/#5] 아이콘, 이미지 추가
  app/src/main/res/drawable/ic_alert_24.xml
  app/src/main/res/drawable/ic_arrow_down_24.xml
  app/src/main/res/drawable/ic_arrow_down_box_30.xml
  app/src/main/res/drawable/ic_arrow_left_24.xml
  app/src/main/res/drawable/ic_arrow_left_36.xml
  app/src/main/res/drawable/ic_arrow_refresh_12.xml
  app/src/main/res/drawable/ic_arrow_right_24.xml
  app/src/main/res/drawable/ic_arrow_right_black_12.xml
  app/src/main/res/drawable/ic_arrow_right_gray_12_.xml
  app/src/main/res/drawable/ic_calendar_24.xml
  app/src/main/res/drawable/ic_calendar_active_32.xml
  app/src/main/res/drawable/ic_calendar_inactive_32.xml
  app/src/main/res/drawable/ic_calendar_white_36.xml
  app/src/main/res/drawable/ic_chatting_active_32.xml
  app/src/main/res/drawable/ic_chatting_default_36.xml
  app/src/main/res/drawable/ic_chatting_inactive_32.xml
  app/src/main/res/drawable/ic_chatting_like_inactive_25.xml
  app/src/main/res/drawable/ic_check_circle_144.xml
  app/src/main/res/drawable/ic_checkbadge_home_inperson_12.xml
  app/src/main/res/drawable/ic_checkbadge_home_inperson_16.xml
  app/src/main/res/drawable/ic_checklist_docu_24.xml
  app/src/main/res/drawable/ic_checklist_person_24.xml
  app/src/main/res/drawable/ic_checklist_phone_24.xml
  app/src/main/res/drawable/ic_coment_commu_gray_12.xml
  app/src/main/res/drawable/ic_community_active_32.xml
  app/src/main/res/drawable/ic_community_inactive_32.xml
  app/src/main/res/drawable/ic_dropdown_ban_16.xml
  app/src/main/res/drawable/ic_dropdown_copy_16.xml
  app/src/main/res/drawable/ic_dropdown_reply_16.xml
  app/src/main/res/drawable/ic_dropdown_report_16.xml
  app/src/main/res/drawable/ic_home_active_32.xml
  app/src/main/res/drawable/ic_home_inactive_32.xml
  app/src/main/res/drawable/ic_kebapmenu_black_24.xml
  app/src/main/res/drawable/ic_kebapmenu_gray_24.xml
  app/src/main/res/drawable/ic_logo.xml
  app/src/main/res/drawable/ic_megaphone_24.xml
  app/src/main/res/drawable/ic_menu_active_32.xml
  app/src/main/res/drawable/ic_menu_inactive_32.xml
  app/src/main/res/drawable/ic_messagesend_active_24.xml
  app/src/main/res/drawable/ic_messagesend_inactive_24.xml
  app/src/main/res/drawable/ic_plus_24.xml
  app/src/main/res/drawable/ic_regist_50.xml
  app/src/main/res/drawable/ic_scrap_black_active_36.xml
  app/src/main/res/drawable/ic_scrap_black_default_36.xml
  app/src/main/res/drawable/ic_search_24.xml
  app/src/main/res/drawable/ic_setting_24.xml
  app/src/main/res/drawable/ic_thumbsup_commu_gray_12.xml
  app/src/main/res/drawable/ic_view_commu_gray_12.xml
  app/src/main/res/drawable/img_chatting_validation.png
  app/src/main/res/drawable/img_mainbanner_1.png
  app/src/main/res/drawable/img_mainbanner_2.png
  app/src/main/res/drawable/img_mainbanner_3.png
  app/src/main/res/drawable/img_mainbanner_4.png
  app/src/main/res/drawable/img_newbie_finalpass.png
  app/src/main/res/drawable/img_newbie_interviewpass.png
  app/src/main/res/drawable/img_newbie_liberalartsmentor.png
  app/src/main/res/drawable/img_newbie_personalitypass.png
  app/src/main/res/drawable/img_newbie_qna.png
  app/src/main/res/drawable/img_newbie_sciencementor.png
Labels: ADD➕, 🩷효빈🩷

#11 [FEAT/#4] navigation 구현
  app/src/main/AndroidManifest.xml
  app/src/main/java/org/sopt/linkareer/core/navigation/MainTabRoute.kt
  app/src/main/java/org/sopt/linkareer/core/navigation/Route.kt
  app/src/main/java/org/sopt/linkareer/core/util/NoRippleInteraction.kt
  app/src/main/java/org/sopt/linkareer/feature/chatting/ChattingRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/chatting/navigation/ChattingNavigation.kt
  app/src/main/java/org/sopt/linkareer/feature/home/HomeRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/home/navigation/HomeNavigation.kt
  app/src/main/java/org/sopt/linkareer/feature/main/MainActivity.kt
  app/src/main/java/org/sopt/linkareer/feature/main/MainNavigator.kt
  app/src/main/java/org/sopt/linkareer/feature/main/MainScreen.kt
  app/src/main/java/org/sopt/linkareer/feature/main/MainTab.kt
  app/src/main/res/values/strings.xml
Labels: FEAT✨, 🩷효빈🩷

#15 [FEAT/#12] TextField 컴포넌트 제작
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/textfield/CertificationTextField.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/textfield/ChattingTextField.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/textfield/LinkareerBasicTextField.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/textfield/SearchTextField.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/theme/Color.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/theme/Theme.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/theme/Type.kt
  app/src/main/java/org/sopt/linkareer/feature/main/MainActivity.kt
  app/src/main/java/org/sopt/linkareer/feature/main/MainScreen.kt
  app/src/main/res/values/strings.xml
Labels: FEAT✨, 🩷효빈🩷

#18 [FEAT/#16] 칩 컴포넌트 제작
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/button/RefreshButton.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/chip/BlueOutlinedChip.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/chip/BlueTextChip.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/chip/CategoryChip.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/chip/ColourFilledBasicChip.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/chip/CommunityNameChip.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/chip/DdayChip.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/chip/FilteringChip.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/text/TextWithIcon.kt
  app/src/main/java/org/sopt/linkareer/core/extension/Modifier.kt
  app/src/main/java/org/sopt/linkareer/feature/main/MainScreen.kt
  app/src/main/res/values/strings.xml
Labels: FEAT✨, 🩷효빈🩷

#20 Feat/#14 chatting room component
  app/src/main/java/org/sopt/linkareer/feature/chatting/component/ChatRoomBottomNotice.kt
  app/src/main/java/org/sopt/linkareer/feature/chatting/component/ChatRoomTopNotice.kt
  app/src/main/java/org/sopt/linkareer/feature/chatting/component/MyReplyChat.kt
  app/src/main/java/org/sopt/linkareer/feature/chatting/component/Mychat.kt
  app/src/main/java/org/sopt/linkareer/feature/chatting/component/OtherUserChat.kt
  app/src/main/java/org/sopt/linkareer/feature/chatting/component/OtherUserChatProfile.kt
  app/src/main/java/org/sopt/linkareer/feature/chatting/component/OtherUserReplyChat.kt
  app/src/main/res/drawable/ic_certification_check_bottom.xml
  app/src/main/res/drawable/ic_chatroom_close.xml
  app/src/main/res/drawable/ic_megaphone_32.xml
  app/src/main/res/values/strings.xml
Labels: FEAT✨, 💙성민💙

#13 Feat/#7 certification component
  app/src/main/java/org/sopt/linkareer/feature/certification/component/CertificationAddImageView.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/component/CertificationConfirmButton.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/component/CertificationGuideList.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/component/CertificationTopBar.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/navigation/CertificationRoute.kt
  app/src/main/res/drawable/img_add_image_background.png
  app/src/main/res/values/strings.xml
Labels: FEAT✨, 💙성민💙

#17 [Feat/#10] TopAppBar 컴포넌트
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/topappbar/BackButtonTopAppBar.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/topappbar/ChattingRoomTopAppBar.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/topappbar/LogoTopAppBar.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/topappbar/TobAppBarIconsRow.kt
  app/src/main/res/drawable/ic_bookmark_white_36.xml
  app/src/main/res/drawable/ic_notice_white_36.xml
  app/src/main/res/values/strings.xml
Labels: FEAT✨, 💛휘원💛

#23 [FEAT/#19] Footer 구현
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/footer/MainFooter.kt
  app/src/main/res/values/strings.xml
Labels: FEAT✨, 🩷효빈🩷

#25 [Feat/#24] certification screen
  app/src/main/java/org/sopt/linkareer/feature/certification/component/CertificationAddImageView.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/component/CertificationConfirmButton.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/component/CertificationGuideList.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/component/CertificationTopBar.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/navigation/CertificationCheckSuccessScreen.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/navigation/CertificationEnterInformationRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/navigation/CertificationGuideRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/navigation/CertificationRoute.kt
Labels: FEAT✨, 💙성민💙

#30 [Feat/#26] 채팅방 UI 구현
  app/src/main/java/org/sopt/linkareer/feature/chatting/ChattingRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/chatting/component/ChatRoomBottomNotice.kt
Labels: FEAT✨, 💙성민💙

#36 [MOD/#35] 채팅 패키지 및 네비게이션 수정
  app/src/main/java/org/sopt/linkareer/core/navigation/MainTabRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/chatting/navigation/ChattingNavigation.kt
  app/src/main/java/org/sopt/linkareer/feature/chattinghome/ChattingHomeRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/chattinghome/navigation/ChattingHomeNavigation.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/ChattingRoomRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/ChatRoomBottomNotice.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/ChatRoomTopNotice.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/MyReplyChat.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/Mychat.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/OtherUserChat.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/OtherUserChatProfile.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/OtherUserReplyChat.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/navigation/ChattingRoomNavigation.kt
  app/src/main/java/org/sopt/linkareer/feature/main/MainNavigator.kt
  app/src/main/java/org/sopt/linkareer/feature/main/MainScreen.kt
  app/src/main/java/org/sopt/linkareer/feature/main/MainTab.kt
Labels: FEAT✨, 🩷효빈🩷

#39 [Fix/#33] 코드 리뷰 적용
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/tapbar/HomeTapBar.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/tapbar/InternTapBar.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/component/CertificationAddImageBox.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/component/CertificationConfirmButton.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/component/CertificationGuideList.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/navigation/CertificationEnterInformationRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/ChatRoomBottomNotice.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/ChatRoomTopNotice.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/MyReplyChat.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/Mychat.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/OtherUserChat.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/OtherUserChatProfile.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/OtherUserReplyChat.kt
  app/src/main/res/values/strings.xml
Labels: FIX🔨, 💙성민💙

#41 [FEAT/#38] 채팅 홈 UI 구현
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/chattingroom/ChattingRoomInPerson.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/chip/FilteringChip.kt
  app/src/main/java/org/sopt/linkareer/domain/model/ChattingRoomEntity.kt
  app/src/main/java/org/sopt/linkareer/feature/chattinghome/ChattingHomeRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/chattinghome/ChattingHomeState.kt
  app/src/main/java/org/sopt/linkareer/feature/chattinghome/ChattingHomeViewModel.kt
  app/src/main/java/org/sopt/linkareer/feature/chattinghome/component/ChattingHomeEmptyRoom.kt
  app/src/main/java/org/sopt/linkareer/feature/chattinghome/component/ChattingHomeRoomListItem.kt
  app/src/main/java/org/sopt/linkareer/feature/chattinghome/component/ChattingHomeTabRow.kt
  app/src/main/res/drawable/img_chattingroom_inperson_amore_70.png
  app/src/main/res/drawable/img_chattingroom_inperson_lgcns_70.png
  app/src/main/res/drawable/img_chattingroom_inperson_samsung_70.png
  app/src/main/res/values/strings.xml
Labels: FEAT✨, 🩷효빈🩷

#48 [Feat/#45] 인증 화면 네비게이션 구현
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/tapbar/HomeTapBar.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/CertificationCheckSuccessScreen.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/CertificationEnterInformationRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/CertificationGuideRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/component/CertificationAddImageBox.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/component/CertificationConfirmButton.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/navigation/CertificationCheckSuccessNavigation.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/navigation/CertificationEnterNavigation.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/navigation/CertificationGuideNavigation.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/ChattingRoomRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/navigation/ChattingRoomNavigation.kt
  app/src/main/java/org/sopt/linkareer/feature/main/MainScreen.kt
Labels: FEAT✨, 💙성민💙

#43 [FEAT/#42] 홈 API 구현
  app/src/main/java/org/sopt/linkareer/data/datasource/HomeRemoteDataSource.kt
  app/src/main/java/org/sopt/linkareer/data/datasourceimpl/HomeRemoteDataSourceImpl.kt
  app/src/main/java/org/sopt/linkareer/data/di/DataSourceModule.kt
  app/src/main/java/org/sopt/linkareer/data/di/RepositoryModule.kt
  app/src/main/java/org/sopt/linkareer/data/di/ServiceModule.kt
  app/src/main/java/org/sopt/linkareer/data/mapper/OfficialsMapper.kt
  app/src/main/java/org/sopt/linkareer/data/mapper/PostsMapper.kt
  app/src/main/java/org/sopt/linkareer/data/model/response/GetOfficialsResponse.kt
  app/src/main/java/org/sopt/linkareer/data/model/response/GetPostsResponse.kt
  app/src/main/java/org/sopt/linkareer/data/repositoryimpl/HomeRepositoryImpl.kt
  app/src/main/java/org/sopt/linkareer/data/service/HomeService.kt
  app/src/main/java/org/sopt/linkareer/domain/repository/HomeRepository.kt
  app/src/main/java/org/sopt/linkareer/feature/home/HomeRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/home/HomeState.kt
  app/src/main/java/org/sopt/linkareer/feature/home/HomeViewModel.kt
  app/src/main/java/org/sopt/linkareer/feature/home/component/CommunityBest.kt
  app/src/main/java/org/sopt/linkareer/feature/home/component/RecommendationNotice.kt
Labels: FEAT✨, 🩷효빈🩷

#50 [Fix/#49] 코드리뷰 적용
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/tapbar/HomeTapBar.kt
  app/src/main/java/org/sopt/linkareer/data/di/UseCaseModule.kt
  app/src/main/java/org/sopt/linkareer/data/model/response/ChatListResponse.kt
  app/src/main/java/org/sopt/linkareer/data/service/ChatService.kt
  app/src/main/java/org/sopt/linkareer/domain/model/ChatListEntity.kt
  app/src/main/java/org/sopt/linkareer/domain/usecase/GetChatListUseCase.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/CertificationCheckSuccessRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/CertificationEnterInformationRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/CertificationGuideRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/certification/component/CertificationAddImageBox.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/ChatRoomState.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/ChatRoomViewModel.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/ChattingRoomRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/ChatLikeCount.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/ChatRoomBottomNotice.kt
Labels: FIX🔨, 💙성민💙

#53 [MOD/#52] 채팅 컴포넌트 수정
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/OtherUserReplyChat.kt
Labels: MOD✅, 💙성민💙

#51 [Feat/#47] 공고 북마크 추가/삭제 API 구현 및 네비게이션
  app/src/main/java/org/sopt/linkareer/data/datasource/HomeRemoteDataSource.kt
  app/src/main/java/org/sopt/linkareer/data/datasourceimpl/HomeRemoteDataSourceImpl.kt
  app/src/main/java/org/sopt/linkareer/data/model/response/AddBookmarkResponse.kt
  app/src/main/java/org/sopt/linkareer/data/model/response/RemoveBookmarkResponse.kt
  app/src/main/java/org/sopt/linkareer/data/repositoryimpl/HomeRepositoryImpl.kt
  app/src/main/java/org/sopt/linkareer/data/service/HomeService.kt
  app/src/main/java/org/sopt/linkareer/domain/repository/HomeRepository.kt
  app/src/main/java/org/sopt/linkareer/feature/home/HomeRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/home/HomeState.kt
  app/src/main/java/org/sopt/linkareer/feature/home/HomeViewModel.kt
  app/src/main/java/org/sopt/linkareer/feature/home/navigation/HomeNavigation.kt
  app/src/main/java/org/sopt/linkareer/feature/newbieintern/NewbieInternRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/newbieintern/NewbieInternViewModel.kt
  app/src/main/java/org/sopt/linkareer/feature/newbieintern/navigation/NewbieInternNavigation.kt
  app/src/main/res/values/strings.xml
Labels: FEAT✨, 💛휘원💛

#55 [FEAT/#54] 최종 마무리
  app/src/main/java/org/sopt/linkareer/core/designsystem/component/tapbar/HomeTapBar.kt
  app/src/main/java/org/sopt/linkareer/core/designsystem/theme/Theme.kt
  app/src/main/java/org/sopt/linkareer/data/datasource/DummyRemoteDataSource.kt
  app/src/main/java/org/sopt/linkareer/data/datasourceimpl/DummyRemoteDataSourceImpl.kt
  app/src/main/java/org/sopt/linkareer/data/di/DataSourceModule.kt
  app/src/main/java/org/sopt/linkareer/data/di/RepositoryModule.kt
  app/src/main/java/org/sopt/linkareer/data/di/ServiceModule.kt
  app/src/main/java/org/sopt/linkareer/data/model/request/DummyRequest.kt
  app/src/main/java/org/sopt/linkareer/data/model/response/GetDummyUserListResponse.kt
  app/src/main/java/org/sopt/linkareer/data/repositoryimpl/DummyRepositoryImpl.kt
  app/src/main/java/org/sopt/linkareer/data/service/DummyService.kt
  app/src/main/java/org/sopt/linkareer/domain/model/DummyEntity.kt
  app/src/main/java/org/sopt/linkareer/domain/repository/DummyRepository.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/ChattingRoomRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/MyReplyChat.kt
  app/src/main/java/org/sopt/linkareer/feature/chattingroom/component/MychatBubble.kt
  app/src/main/java/org/sopt/linkareer/feature/dummy/DummyScreen.kt
  app/src/main/java/org/sopt/linkareer/feature/dummy/DummyState.kt
  app/src/main/java/org/sopt/linkareer/feature/dummy/DummyViewModel.kt
  app/src/main/java/org/sopt/linkareer/feature/home/HomeRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/home/HomeState.kt
  app/src/main/java/org/sopt/linkareer/feature/home/HomeViewModel.kt
  app/src/main/java/org/sopt/linkareer/feature/home/component/RecommendationNotice.kt
  app/src/main/java/org/sopt/linkareer/feature/main/MainNavigator.kt
  app/src/main/java/org/sopt/linkareer/feature/main/MainScreen.kt
  app/src/main/java/org/sopt/linkareer/feature/newbieintern/NewbieInternRoute.kt
  app/src/main/java/org/sopt/linkareer/feature/newbieintern/NewbieInternState.kt
  app/src/main/java/org/sopt/linkareer/feature/newbieintern/NewbieInternViewModel.kt
Labels: FEAT✨, 🩷효빈🩷
